/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Hero Section */
.hero-section {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('../images/hero-bg.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.hero-content p {
    font-size: 1.5rem;
    margin: 20px 0;
    line-height: 1.4;
}

.cta-button {
    padding: 12px 30px;
    background-color: #ff4b2b;
    color: white;
    border: none;
    width: 50%; /* Set the width to half of its original size */
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center; /* Ensure the text is centered inside the button */
    margin: 0 auto; /* Center the button horizontally (optional) */
    display: block; /* Ensure the button stays block-level (optional) */
}


.cta-button:hover {
    background-color: #ff6f61;
    transform: scale(1.05);
}

/* Slideshow Styles */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 80%;
    height: auto;
    max-width:600px;
    border-radius: 10px;
}


.text {
    color: #ffffff;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    bottom: 20px;
    width: 80%;
    display:block;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

/* Media Queries for responsiveness */
@media (max-width: 600px) {
    .hero-section {
        height: 70vh;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.2rem;
    }

    .cta-button {
        padding: 10px 25px;
        font-size: 1rem;
    }
}
