<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Order Status</title>
  

  <!-- External CSS files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/status.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/order.css') }}">
</head>
<body>

  <header>
    <h1>Order Status</h1>
  </header>

  <main class="order-status">
    <p>Hi {{ order.name }}; Your status is:</p>
    <h2>{{ order.status }}</h2>
    <p>Pickup Method: {{ order.pickup_method }}</p>
    <p>Payment Method: {{ order.payment_method }}</p>
  </main>

  <a href="{{ url_for('menu') }}" class="cta-button">Order Now</a>

</body>
</html>
